{{#md-form class='card-panel grey lighten-4' as |f|}}
  <div class="row">
    {{f.text text='First Name' class='col s6'}}
    {{f.text text='Last Name' class='col s6'}}
  </div>
  <div class="row">
    {{f.email text='Email Address' class='col s12'}}
  </div>
  <div class="row">
    {{f.password text='Password' class='col s12'}}
  </div>
  <div class="row">
    {{f.date text='Birthday' class='col s6'}}
    {{f.phone text='Phone #' class='col s6'}}
  </div>
  <div class="row">
    <div class="col s6">
      <h6>Gender</h6>
      {{#f.radios as |r|}}
        {{r.radio text='Male'}}
        {{r.radio text='Female'}}
      {{/f.radios}}
    </div>
    <div class="col s6">
      <h6>Age</h6>
      {{#f.radios as |r|}}
        {{r.radio text='Young'}}
        {{r.radio text='Old'}}
      {{/f.radios}}
    </div>
  </div>
  <div class="row">
  {{f.btn baseButtonClass="btn-flat"
    class='blue white-text col s12'
    text='Register'}}
  </div>
{{/md-form}}